/*
=============
Top HEADER
=============
*/


.header {
	width:100%;
	height:5em;
	background-color: blue;
 
    position: fixed;
}
.logo{
	margin-left: 26%;
	width:4em;
	
	font-size: 4em;
	font-weight: 700;
	display: inline-block;
}
.nav{
	margin-top: -48px;
	width: 100%;
	text-align: center;

	}
.nav ul{
	display: inline-block;
	}
.nav ul li{
		display: inline-block;
		width:4em;
		height:2em;
		padding-right: .8em;
		padding-left: .8em;
		background-color: lightblue;
	}
.nav ul li a{
	color:white;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 700;
	line-height: 2em;
	font-family: sans-serif;
}
.nav ul li a:hover{
	color:red;
}
/*
================
BODY
================
*/

.content{
	padding-top: 70px;
	margin-left: 70px;
	margin-right: 70px;
}